@CHARSET "UTF-8";
#crm-content{
    width: 80%;
    margin: auto;
}
#crm-content dt{
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}
#crm-content dd{
    margin-bottom: 12px;
    margin-left: 0;
}
#crm-content .errors{
    list-style: none;
    background: #FFCECE;
    border: 1px #DF8F8F solid;
    color: #665252;
    padding: 2px;
    display: inline;
}
#crm-content .errors li{
    display: inline;
}

.action-link{
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 6px;
}
.action-edit{
    background-image: url("../images/icon-edit.png");
}
.action-delete{
    background-image: url("../images/icon-delete.png");
}

.task-list{
    padding: 0;
    list-style:none;
    padding: 1em;
    border-bottom: 1px #ccc solid;
    margin:0;
}
.task-list2 {
    list-style-position: inside;
    list-style: none;
    padding:3px 5px;
    margin:6px 1em 6px 0;
    margin-right:1em;
    background-color: #dedede;
    border:1px solid #aaa;
    
    display:inline-block;
    display:-moz-inline-stack;
    zoom:1;
    *display:inline;    
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:3px 3px 5px #ddd;
    -moz-box-shadow:3px 3px 5px #ddd;
    box-shadow:3px 3px 5px #ddd;
}

.task-list2 a {
    text-decoration:none;
}
.task-list2:hover {
    background-color: #2D393B;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
}
.task-list2:hover a{
    color:#fff;
}


.task-list li{
	font:12px Geneva, Arial, sans-serif;
        font-weight:normal;
        margin-bottom:3px
}
.task-list a{
	color: blue;
	cursor: pointer;
}
.task-list .ref-date{
	font-style: italic;
	font-size: 10px;
}
.task-list .pending{
	color: red;
}
.task-list .ready{
	color: green;
}

#task-box h2{
	margin-bottom: 0;
}
#event_span_count{width: 40px;}
.thumb-up,.thumb-down{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin:1px;
	cursor:pointer;
	/*background: url("../images/thumb-up.png") no-repeat;*/
        background: url("../images/accept.png") no-repeat;
}
.thumb-down{
	background-image: url("../images/reschedule03.png");
}
.comment-box{
	background: #7F911F;
	border: 1px #777 solid;
	padding: 6px;
	display: none;
        width:423px;
        border-radius:5px;
        box-shadow:1px 1px 3px #777;
}
.comment-box-red {
    background-color:#F8361F;
}
.comment-box textarea{
	vertical-align: bottom;
	width: 420px;
	height: 30px;
}
.comment-box textarea:focus{
    outline:none;
    outline-color: transparent;
  outline-style: none;
}
.comment-box a{
	padding:0.4em 1em;
}
.comment-box img{
	margin-right: 35px;
}
.due-date{color: graytext;}
.success{color: green;}
.failed{color: red;}

#client-info ul{padding-left: 0;overflow: auto;}
#client-info li{ padding: 0 8px; border-bottom: 1px #999 dotted;list-style: none;}
#client-info h2{color: #666; font-size: 13px;}
#client-info .action-date{color: #aaa; font-size: 11px;}
#client-info .action-operator{color: green;text-align:right}
#client-info li p {margin: .5em .3em}
.comment-box-open{padding-left: 25px;font-size: 12px;color: #999;margin-top: 0;margin-bottom: 10px;}
.comment-box-open img {vertical-align: bottom;}
.task-list .operator-type{padding-right: 20px;font-weight: bold; font-size: 12px;}
.operations-loading{ 
    background-color: transparent;
    color: #999;
}
#operator-comment-cont textarea{ width: 90%;padding: 3%;height: 40px;color: #333;font-size: 13px;}
.comment-box .delay-date{margin: 3px; border: 1px #666 solid; display: none;}

#client-info-cont, #client-info-cont-signoff {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 16px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.sticky-bar {
    background-color: #DEDEDE;
    border: 1px solid #777777;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px #333333;
    margin: 0 10px 6px 0;
    padding: 2px 4px;
}

#crmDialog, #signoffDialog {
    padding:0 5px 0 8px;
}
.reschedule-icon {
    background: url("/images/reschedule03.png") no-repeat scroll 90% 50% #2F3E42 !important;
}
.signoff-icon {
    background: url("/images/accept.png") no-repeat scroll 90% 50% #2F3E42 !important;
}
.delayed-btn {
    background-color: red;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #FFFFFF;
    padding: 3px 5px;
    font:10px geneva,sans-serif;
    vertical-align:middle;
    
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
.btnLoading{
    position:absolute;
    width:120px;
    height:19px;
    left:237px;
    top:11px;
    background: url("/images/ajax-loader.gif") no-repeat;	
}